$max-mobile-width: 560px;

// Tigerhall Brand Colour
$teal:#003238;
$orange:#FF8615;

// User Interface Colour
$darkTeal:#001315;
$darkTealSecondary:#001F24;
$tigerHallTeal: #003238;
$lightTeal: #075E69;
$greyTeal:#2E4D50;
$lightGreyTeal:#35595D;
$highlightGreyTeal:#5D8180;
$whiteTeal:#BDD4D6;
$popTeal:#00F4C5;
$tigerhallOrange:#ff8615;
$paleOrange:#ff8615;

$black: #000000;
$lightBlack:#333333;
$grey:#989898;

$functionGrey:#C4C4C4;
$mildGrey:#F9F9F9;
$highlightGrey:#F3F3F3;
$offWhite:#F9F9F9;
$whiteWhite:#FFFFFF;

//font-size

$text: 14px;
